{{ define "header" }}
<!DOCTYPE html><html lang="en">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/site.css" rel="stylesheet">
  <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Récidive"/>
  <title>Récidive</title>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><strong>Récidive</strong></a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/upload">Upload</a></li>
    </ul>
  </div>
</div>
</nav>
{{ end }}
