{{ define "list" }}
{{ template "header" . }}

<div class="container">

<a href="/?duration=1">Today</a> |
<a href="/?duration=7">Week</a> |
<a href="/?duration=30">Month</a>

  <table class="table table-condensed">
    <thead><tr><th>ID</th><th>Created</th><th>Hits</th></tr></thead>
    <tbody>
{{range .}}
<tr><td><a href="/view/{{.ReportId}}">{{.ReportId}}</a></td><td>{{.CreatedAt.Format "Jan 02, 2006 15:04:05 UTC"}}</td><td>{{.Hits}}</td></tr>
{{end}}
    </tbody>
    </table>

</div>
{{ template "footer" . }}
{{ end }}
