{{ define "view" }}
{{ template "header" . }}
<div class="container">

  <h1>Test report</h1>

  <table class="table table-condensed">
    <thead><tr><th>Suites</th><th>Format</th><th>Created</th><th>Hits</th></tr></thead>
    <tbody>
<tr><td>{{ len .Suites }}</td><td>{{.Format}}</td><td>{{.CreatedAt.Format "Jan 02, 2006 15:04:05 UTC"}}</td><td>{{.Hits}}</td></tr>
    </tbody>
    </table>

    <div class="bar">
	    <section id="green" style="width: 20%">Passed</section>
	    <section id="red" style="width: 60%">Failed</section>
	    <section id="grey">Unknown</section>
    </div>

{{ range .Suites }}
	{{ if .Name }}
	Testsuite name: {{ .Name }} <br>
	{{ end }}
	{{range .Tests }}
	   {{ if .Name }}
	      <b>{{.Name}}</b>
	   {{ else }}
	      <b>NONAME</b>
	   {{ end }}
	   Ok: {{.Ok}}
	   {{ if and .StartTime .EndTime }}
	      {{.StartTime}} - {{.EndTime}}
	   {{ end }}
	   <br>
	{{end}}
{{ end }}

{{ if .Body }}
<h3>Raw output</h3>
<pre>
<code class="{{.Format}}">
{{.Body}}
</code>
</pre>
{{ end }}

</div>
{{ template "footer" . }}
{{ end }}
